html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {


.logo-box{
  padding-bottom: -10px;
}

.js-start-section{
  width: 100vw;
  height: 100vh;
}

.la-logo{
  width:18%;
  height:25%; 
  box-shadow: 0 0 8px 8px rgba(125, 184, 191, 0.7);
  padding-top: 2%;
  margin-bottom: -5%;
  font-weight: 
}

.start-title{
  height: 15%;
  font-size: 307%;
  margin-left: 2%;
  font-family: 'Roboto Slab', serif;
}

.app-description{
  font-size: 107%;
  padding-top: 185px;
  color: rgba(201,242,242);
  -moz--text-fill-color: rgba(201,242,242);
  -webkit-text-fill-color: rgba(201,242,242);
  font-family: 'Fenix', serif;
   
}
 
.btn-start, #start-button{
  -webkit-appearance: none;
}

.btn-start{
  padding-top: 8px;
  margin-left: 30%;
}

#start-button{
  background-color: : rgba(125, 184, 191);
  -moz-border-background: rgba(125, 184, 191);
  /*-webkit-background: rgba(125, 184, 191);*/
  -moz-border-radius: 100px / 50px;
  /*-webkit-border-radius: 100px / 50px;*/
   border-radius: 100px / 50px;

  font-size: 10px;
  font-weight: bold;
  width: 40vw;
  height:7vh;
  font-family: 'Roboto Slab', serif;

}

.js-question-form{
  height: 100vh;
  width: 100vw;
  background-image:linear-gradient(rgba(38, 14,1, 0.6), rgba(89,51,17, 0.2), 
    rgba(115,92,72, 0.2   ),rgba(125, 184, 191, 0.5));
}

legend{
  -webkit-appearance: none;
  padding-top:5%;
  font-size: 20px;
  font-family: 'Fenix', serif;
  color: rgba(32,98,102);
  -moz-color: rgba(32,98,102);
  -webkit-color: rgba(32,98,102);
}

fieldset{
  border: 2px solid black;
  padding-top: 2%;
  height: 75vh;
  border: none;
}

.js-question-form input{
  margin-top: 50px;
}
.radio-button{
  display: block;
  vertical-align: top; 
  margin: 1px;
  padding: 1px;
  font-size:15px;
  font-family: 'Vesper Libre', serif;
}

.submit-button{
  font-size: 15px;
  color: rgba(82,51,4);
  -moz-color: rgba(82,51,4);
  -webkit-color: rgba(82,51,4);
  background-color: rgba(255,204,160);
  -moz-background-color: rgba(255,204,160);
  -webkit-background-color: rgba(255,204,160);
  font-family: 'Roboto Slab', serif;
  padding-left: 2px;
  padding-right:2px;
}

.wiki-message{
  font-family: 'Vesper Libre', serif;
  font-size:15px;
  color: rgba(32,98,102);
  -moz-color: rgba(32,98,102);
  -webkit-color: rgba(32,98,102);
  padding-top: 5px;
  padding-bottom: 0px;
}

div.dog-breeds > div:nth-of-type(odd) {
    /*background: rgba(89,51,17, 0.2);*/
     background: rgba(89,138,143,0.3);
}

div.dog-breeds > div:nth-of-type(even) { 
     background: rgba(214,195,153,0.7 ); 
}

.breed-name-and-image {
  display: block;
  font-family: 'Roboto Slab', serif;
  margin-left: auto;
  margin-right: auto;  
  vertical-align: top;
}

.wiki-info p{
  width: 75vw;
  font-family: 'Vesper Libre', serif;
  font-size: 12px;
  vertical-align: middle;
  padding-top: 2px;
}

.inline-block{
  display: inline-block;
}

.read-more-wiki{
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 25%;
  font-family: 'Fenix', serif; 
  color:brown;
  -moz-color:brown;
  -webkit-color:brown;
  /*background: rgba(193,231,240);*/
}

.read-more-wiki a{
  font-size: 10px;
  color: rgba(82,51,4);
  -moz-color: rgba(82,51,4);
  -webkit-color: rgba(82,51,4);
  /*background-color: rgba(255,204,160);*/
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.js-no-pets-rendered{
  height:100vh;
  padding-top: 20%;
  padding-left: 25%;
  font-family: 'Roboto Slab', serif;
  /*Include Image?*/
}

div.returned-matches > div:nth-of-type(odd) {
     background: rgba(89,138,143,0.3);    
}

div.returned-matches > div:nth-of-type(even) {
    background: rgba(214,195,153,0.7 );    
}

.matches-message{
  font-family: 'Vesper Libre', serif;
  font-size:15px;
  color: rgba(32,98,102);
  -moz-color: rgba(32,98,102);
  -webkit-color: rgba(32,98,102);
  padding-top: 15px;
  padding-bottom: 10px;
}

.pet-description {
  width: 75vw;
  font-family: 'Vesper Libre', serif;
  font-size: 12px;
  float: right;
  vertical-align: middle;
  padding-top: 8px;
}

.pet-characteristics{
   font-family: 'Roboto Slab', serif;
   vertical-align: top;
}

.pet-characteristics h2{
   font-family: 'Roboto Slab', serif;
   vertical-align: top;
   font-size: 22px;
}

.pet-size, .pet-sex, .pet-age{
  font-size: 12px;
  padding-top: 7px;
  padding-left: 2px;
  color: rgba(32,98,102);
  -moz-color: rgba(32,98,102);
  -webkit-color: rgba(32,98,102);
}

.read-more-petfinder{
  padding-top: 24px;
  padding-bottom:10px;
  padding-left: 20%;
  font-family: 'Fenix', serif; 
  color:brown;
  -moz-color:brown;
  -webkit-color:brown;
}

.read-more-petfinder a{
  font-size: 13px;
  color: rgba(82,51,4);
  -moz-color: rgba(82,51,4);
  -webkit-color: rgba(82,51,4);
  /*background-color: rgba(255,204,160);*/
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.see-more-matches{
   padding-top: 10px;
   padding-bottom: 10px;
}

.see-more-matches a{
   color: rgba(32,98,102);
   -moz-color: rgba(32,98,102);
   -webkit-color: rgba(32,98,102);
   font-family: 'Roboto Slab', serif;
   padding-left: 10px;
   padding-right: 10px;
}
}

/* Smartphones (landscape) ----------- */
/*@media only screen and (min-width : 321px) {
  .logo-box{
  padding-bottom: -10px;
}


.js-start-section{
  width: 100vw;
  height: 100vh;
}

.la-logo{
  width:18%;
  height:25%; 
  box-shadow: 0 0 8px 8px rgba(125, 184, 191, 0.7);
  padding-top: 2%;
  margin-bottom: -5%;
}

.start-title{
  height: 15%;
  font-size: 307%;
  margin-left: 2%;
}

.app-description{
  font-size: 107%;
  padding-top: 365px;
}
 
.btn-start{
  padding-top: 8px;
  margin-left: 10%;
}

.start-button{
  background: rgba(149, 184, 191, 1);
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;

  font-size: 22px;
  font-weight: bold;
  width: 75vw;
  height:7vh;
}
}*/
/* Smartphones (portrait) ----------- */
/*@media only screen and (max-width : 320px) {
.logo-box{
  padding-bottom: -10px;
}


.js-start-section{
  width: 100vw;
  height: 100vh;
}

.la-logo{
  width:18%;
  height:25%; 
  box-shadow: 0 0 8px 8px rgba(125, 184, 191, 0.7);
  padding-top: 2%;
  margin-bottom: -5%;
}

.start-title{
  height: 15%;
  font-size: 307%;
  margin-left: 2%;
}

.app-description{
  font-size: 107%;
  padding-top: 365px;
}
 
.btn-start{
  padding-top: 8px;
  margin-left: 10%;
}

.start-button{
  background: rgba(149, 184, 191, 1);
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;

  font-size: 22px;
  font-weight: bold;
  width: 75vw;
  height:7vh;
}
}*/

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
.logo-box{
  padding-bottom: -10px;
}


.js-start-section{
  width: 100vw;
  height: 100vh;
}

.la-logo{
  width:14%;
  height:25%; 
  box-shadow: 0 0 8px 8px rgba(125, 184, 191, 0.7);
  margin-top: 2%;
  margin-bottom: -5%;
  float: left;
}

.start-title{
  display: inline-block;
  height: 15%;
  font-size: 777%;
  margin-left: 2%;
  margin-top: 0%;
  font-family: 'Roboto Slab', serif;
}

.app-description{
  font-size: 250%;
  padding-top: 527px;
  color: rgba(201,242,242);
  font-family: 'Fenix', serif;
}
 
.btn-start{
  padding-top: 8px;
  margin-left: 30%;
}

#start-button{
  background: rgba(149, 184, 191, 1);
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;

  font-size: 30px;
  font-weight: bold;
  width: 45vw;
  height:8vh;
  font-family: 'Roboto Slab', serif;
}

.js-question-form{
  height: 100vh;
  width: 100vw;
  background-image:linear-gradient(rgba(38, 14,1, 0.6), rgba(89,51,17, 0.2), 
    rgba(115,92,72, 0.2   ),rgba(125, 184, 191, 0.5));
}

legend{
  padding-top:25%;
  font-size: 35px;
  font-family: 'Fenix', serif;
  color: rgba(32,98,102);
}

fieldset{
  border: 2px solid black;
  padding-top: 2%;
  height: 75vh;
  border: none;
}

.js-question-form input{
  margin-top: 50px;
}
.radio-button{
  display: block;
  vertical-align: top; 
  margin: 1px;
  padding: 1px;
  font-size:40px;
  font-family: 'Vesper Libre', serif;
}

.submit-button{
  font-size: 25px;
  color: rgba(82,51,4);
  background-color: rgba(255,204,160);
  font-family: 'Roboto Slab', serif;
  padding-left: 2px;
  padding-right:2px;
}

.wiki-message{
  font-family: 'Vesper Libre', serif;
  font-size:25px;
  color: rgba(32,98,102);
  padding-top: 15px;
  padding-bottom: 0px;
}

div.dog-breeds > div:nth-of-type(odd) {
    /*background: rgba(89,51,17, 0.2);*/
     background: rgba(89,138,143,0.3);
}

div.dog-breeds > div:nth-of-type(even) { 
     background: rgba(214,195,153,0.7 ); 
}

.breed-name-and-image {
  display: block;
  font-family: 'Roboto Slab', serif;
  margin-left: auto;
  margin-right: auto;  
  vertical-align: top;
}

.wiki-info p{
  width: 75vw;
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
  vertical-align: middle;
  padding-top: 2px;
}

.inline-block{
  display: inline-block;
}

.read-more-wiki{
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 40%;
  font-family: 'Fenix', serif; 
  color:brown;
  /*background: rgba(193,231,240);*/
}

.read-more-wiki a{
  font-size: 20px;
  color: rgba(82,51,4);
  /*background-color: rgba(255,204,160);*/
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.js-no-pets-rendered{
  height:100vh;
  padding-top: 20%;
  padding-left: 25%;
  font-family: 'Roboto Slab', serif;
  /*Include Image?*/
}

div.returned-matches > div:nth-of-type(odd) {
     background: rgba(89,138,143,0.3);    
}

div.returned-matches > div:nth-of-type(even) {
    background: rgba(214,195,153,0.7 );    
}

.matches-message{
  font-family: 'Vesper Libre', serif;
  font-size:25px;
  color: rgba(32,98,102);
  padding-top: 15px;
  padding-bottom: 10px;
}

.pet-description {
  width: 75vw;
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
  float: right;
  vertical-align: middle;
  padding-top: 8px;
}

.pet-characteristics{
   font-family: 'Roboto Slab', serif;
   vertical-align: top;
}

.pet-characteristics h2{
   font-family: 'Roboto Slab', serif;
   vertical-align: top;
   font-size: 30px;
}

.pet-size, .pet-sex, .pet-age{
  font-size: 20px;
  padding-top: 7px;
  padding-left: 2px;
  color: rgba(32,98,102);
}

.read-more-petfinder{
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 40%;
  font-family: 'Fenix', serif; 
  color:brown;
}

.read-more-petfinder a{
  font-size: 20px;
  color: rgba(82,51,4);
  /*background-color: rgba(255,204,160);*/
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.see-more-matches{
 
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 15%; 
}

.see-more-matches a{
   color: rgba(32,98,102);
   font-family: 'Roboto Slab', serif;
   font-size: 50px;
}


}
/* In between sizes, responsive fill ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1223px) {
.logo-box{
  padding-bottom: -10px;
}


.js-start-section{
  width: 100vw;
  height: 100vh;
}

.la-logo{
  width:13%;
  height:25%; 
  box-shadow: 0 0 8px 8px rgba(125, 184, 191, 0.7);
  margin-top: 2%;
  margin-bottom: -5%;
  float: left;
}

.start-title{
  display: inline-block;
  height: 15%;
  font-size: 918%;
  margin-left: 2%;
  margin-top: -1%;
  font-family: 'Roboto Slab', serif;
}

.app-description{
  font-size: 250%;
  padding-top: 805px;
  color: rgba(201,242,242);
  font-family: 'Fenix', serif;
}
 
.btn-start{
  padding-top: 48px;
  margin-left: 30%;
}

#start-button{
  background: rgba(149, 184, 191, 1);
  -moz-background:rgba(149, 184, 191, 1);
  -webkit-background: rgba(149, 184, 191, 1);
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;

  font-size: 38px;
  font-weight: bold;
  width: 42vw;
  height:8vh;
  font-family: 'Roboto Slab', serif;
}

.js-question-form{
  height: 100vh;
  width: 100vw;
  background-image:linear-gradient(rgba(38, 14,1, 0.6), rgba(89,51,17, 0.2), 
    rgba(115,92,72, 0.2   ),rgba(125, 184, 191, 0.5));
}

legend{
  padding-top:30%;
  font-size: 35px;
  font-family: 'Fenix', serif;
  color: rgba(32,98,102);
}

fieldset{
  border: 2px solid black;
  padding-top: 2%;
  height: 75vh;
  border: none;
}

.js-question-form input{
  margin-top: 50px;
}
.radio-button{
  display: block;
  vertical-align: top; 
  margin: 1px;
  padding: 1px;
  font-size:40px;
  font-family: 'Vesper Libre', serif;
}

.submit-button{
  font-size: 25px;
  color: rgba(82,51,4);
  background-color: rgba(255,204,160);
  font-family: 'Roboto Slab', serif;
  padding-left: 2px;
  padding-right:2px;
}

.wiki-message{
  font-family: 'Vesper Libre', serif;
  font-size:25px;
  color: rgba(32,98,102);
  padding-top: 15px;
  padding-bottom: 0px;
}

div.dog-breeds > div:nth-of-type(odd) {
    /*background: rgba(89,51,17, 0.2);*/
     background: rgba(89,138,143,0.3);
}

div.dog-breeds > div:nth-of-type(even) { 
     background: rgba(214,195,153,0.7 ); 
}

.breed-name-and-image {
  display: block;
  font-family: 'Roboto Slab', serif;
  margin-left: auto;
  margin-right: auto;  
  vertical-align: top;
}

.wiki-info p{
  width: 75vw;
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
  vertical-align: middle;
  padding-top: 2px;
}

.inline-block{
  display: inline-block;
}

.read-more-wiki{
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 40%;
  font-family: 'Fenix', serif; 
  color:brown;
  /*background: rgba(193,231,240);*/
}

.read-more-wiki a{
  font-size: 20px;
  color: rgba(82,51,4);
  /*background-color: rgba(255,204,160);*/
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.js-no-pets-rendered{
  height:100vh;
  padding-top: 20%;
  padding-left: 25%;
  font-family: 'Roboto Slab', serif;
  /*Include Image?*/
}

div.returned-matches > div:nth-of-type(odd) {
     background: rgba(89,138,143,0.3);    
}

div.returned-matches > div:nth-of-type(even) {
    background: rgba(214,195,153,0.7 );    
}

.matches-message{
  font-family: 'Vesper Libre', serif;
  font-size:25px;
  color: rgba(32,98,102);
  padding-top: 15px;
  padding-bottom: 10px;
}

.pet-description {
  width: 75vw;
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
  float: right;
  vertical-align: middle;
  padding-top: 8px;
}

.pet-characteristics{
   font-family: 'Roboto Slab', serif;
   vertical-align: top;
}

.pet-characteristics h2{
   font-family: 'Roboto Slab', serif;
   vertical-align: top;
   font-size: 30px;
}

.pet-size, .pet-sex, .pet-age{
  font-size: 20px;
  padding-top: 7px;
  padding-left: 2px;
  color: rgba(32,98,102);
}

.read-more-petfinder{
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 40%;
  font-family: 'Fenix', serif; 
  color:brown;
}

.read-more-petfinder a{
  font-size: 20px;
  color: rgba(82,51,4);
  /*background-color: rgba(255,204,160);*/
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.see-more-matches{
 
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 15%; 
}

.see-more-matches a{
   color: rgba(32,98,102);
   font-family: 'Roboto Slab', serif;
   font-size: 50px;
}


}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
.logo-box{
  padding-bottom: -10px;
}


.js-start-section{
  width: 100vw;
  height: 100vh;
}

.la-logo{
  width:9%;
  height:25%; 
  box-shadow: 0 0 8px 8px rgba(125, 184, 191, 0.7);
  margin-top: 2%;
  margin-bottom: -5%;
  float: left;
}

.start-title{
  display: inline-block;
  height: 15%;
  font-size: 600%;
  margin-left: 2%;
  margin-top: -8px;
  margin-right: 10px;
  font-family: 'Roboto Slab', serif;
}

.app-description{
  font-size: 250%;
  padding-top: 375px;
  padding-left: 20px;
  padding-right: 10px;
  color: rgba(201,242,242);
  font-family: 'Fenix', serif;
}
 
.btn-start{
  padding-top: 22px;
  margin-left: 33%;
}

#start-button{
  background: rgba(125, 184, 191, 1);
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;

  font-size: 35px;
  font-weight: bold;
  width: 40vw;
  height:7vh;
  font-family: 'Roboto Slab', serif;
 
}

.js-question-form{
  height: 100vh;
  width: 100vw;
  background-image:linear-gradient(rgba(38, 14,1, 0.6), rgba(89,51,17, 0.2), 
    rgba(115,92,72, 0.2   ),rgba(125, 184, 191, 0.5));
}

legend{
  padding-top:7%;
  font-size: 35px;
  font-family: 'Fenix', serif;
  color: rgba(32,98,102);
}

fieldset{
  border: 2px solid black;
  padding-top: 2%;
  height: 75vh;
  border: none;
}

.js-question-form input{
  margin-top: 50px;
}
.radio-button{
  display: block;
  vertical-align: top; 
  margin: 1px;
  padding: 1px;
  font-size:40px;
  font-family: 'Vesper Libre', serif;
}

.submit-button{
  font-size: 25px;
  color: rgba(82,51,4);
  background-color: rgba(255,204,160);
  font-family: 'Roboto Slab', serif;
  padding-left: 2px;
  padding-right:2px;
}

.wiki-message{
  font-family: 'Vesper Libre', serif;
  font-size:25px;
  color: rgba(32,98,102);
  padding-top: 15px;
  padding-bottom: 0px;
}

div.dog-breeds > div:nth-of-type(odd) {
    /*background: rgba(89,51,17, 0.2);*/
     background: rgba(89,138,143,0.3);
}

div.dog-breeds > div:nth-of-type(even) { 
     background: rgba(214,195,153,0.7 ); 
}

.breed-name-and-image {
  display: block;
  font-family: 'Roboto Slab', serif;
  margin-left: auto;
  margin-right: auto;  
  vertical-align: top;
}

.wiki-info p{
  width: 75vw;
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
  vertical-align: middle;
  padding-top: 2px;
}

.inline-block{
  display: inline-block;
}

.read-more-wiki{
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 40%;
  font-family: 'Fenix', serif; 
  color:brown;
  /*background: rgba(193,231,240);*/
}

.read-more-wiki a{
  font-size: 20px;
  color: rgba(82,51,4);
  /*background-color: rgba(255,204,160);*/
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.js-no-pets-rendered{
  height:100vh;
  padding-top: 20%;
  padding-left: 25%;
  font-family: 'Roboto Slab', serif;
  /*Include Image?*/
}

div.returned-matches > div:nth-of-type(odd) {
     background: rgba(89,138,143,0.3);    
}

div.returned-matches > div:nth-of-type(even) {
    background: rgba(214,195,153,0.7 );    
}

.matches-message{
  font-family: 'Vesper Libre', serif;
  font-size:25px;
  color: rgba(32,98,102);
  padding-top: 15px;
  padding-bottom: 10px;
}

.pet-description {
  width: 75vw;
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
  float: right;
  vertical-align: middle;
  padding-top: 8px;
}

.pet-characteristics{
   font-family: 'Roboto Slab', serif;
   vertical-align: top;
}

.pet-characteristics h2{
   font-family: 'Roboto Slab', serif;
   vertical-align: top;
   font-size: 30px;
}

.pet-size, .pet-sex, .pet-age{
  font-size: 20px;
  padding-top: 7px;
  padding-left: 2px;
  color: rgba(32,98,102);
}

.read-more-petfinder{
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 40%;
  font-family: 'Fenix', serif; 
  color:brown;
}

.read-more-petfinder a{
  font-size: 20px;
  color: rgba(82,51,4);
  /*background-color: rgba(255,204,160);*/
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.see-more-matches{
 
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 15%; 
   padding-right: 15%;
}

.see-more-matches a{
   color: rgba(32,98,102);
   font-family: 'Roboto Slab', serif;
   font-size: 50px;
}

}
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}